/vendor
/node_modules
/.env
/public/hot
/public/storage
/storage/*.key
/storage/pail
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed